{% extends "main/base.html" %}
{% load static %}

{%block title%} Contact Us - Wesal {% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}


<div class="contact-bg" style="padding-left: 20px; padding-right: 20px;">
  <div class="contact-welcome fadein-left" style="margin: 0 auto 18px auto; max-width: 600px; text-align:left;">
  <h2 class="animated-gradient-title">Contact Wesal Support</h2>
    <p style="color:#474341; font-size:1.35rem; margin-bottom:0.2em; font-family:'Roboto',sans-serif; text-align:left;">We value your questions and feedback. Our support team is here to assist you promptly and professionally.</p>
    <p style="color:#474341; font-size:1.22rem; margin-bottom:18px; font-family:'Roboto',sans-serif; text-align:left;">Reach us through the channels below or fill out the form — we’ll respond as soon as possible.</p>
  <ul class="contact-info-list" type="none" style="max-width: 600px; margin: 0 0 0 0; padding-left: 32px; text-align:left; font-size:1.22rem;">
      <li><i class="fa fa-envelope"></i> info@Wesal.com</li>
      <li><i class="fa fa-phone"></i> +966 555 123 456</li>
      <li><i class="fa fa-map-marker"></i> Riyadh, Saudi Arabia</li>
      <li><i class="fa fa-globe"></i> www.Wesal.com</li>
    </ul>
  </div>
  <div class="contact-overlay" id="contact" >
    <div class="contact-form-side">
      <form method="post" action="{% url 'main:contact_view' %}" class="contact-detail" >
        {% csrf_token %}
        <div class="input-group">
          <label for="first_name" class="form-label"><i class="fa fa-user"></i> First Name</label>
          <input type="text" id="first_name" name="first_name" required>
        </div>
        <div class="input-group">
          <label for="last_name" class="form-label"><i class="fa fa-user"></i> Last Name</label>
          <input type="text" id="last_name" name="last_name" required>
        </div>
        <div class="input-group">
          <label for="email" class="form-label"><i class="fa fa-envelope"></i> Email address</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="input-group">
          <label for="message" class="form-label"><i class="fa fa-comment"></i> Message</label>
          <textarea id="message" name="message" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn-main w-100 mt-3">Send Message</button>
      </form>
    </div>
  </div>
</div>

<script src="{% static 'js/contact.js' %}"></script>
{% endblock %}