{% extends "main/base.html" %}

{% block title %}Manager{% endblock %}

{% block style %}
<style>
    .page-title
    {
        margin-top: 30px;
        margin-bottom: 20px;
        font-weight: 700;
        color: #474341;
        text-align: center;
    }
    h3
    {
        width: 100%;
        display: block;
        color: #474341;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 40px;
        padding-left: 20px;
    }
    .section-title {

        border-bottom: 2px solid #f2c235;
        padding-bottom: 8px;
        margin-bottom: 20px;
    }
    .section-title th
    {
        font-weight: 600;
        font-size: large;
        color: #474341;        
    }
    table img
    {
        width: 150px;
        height: 90px;
        border: 1px double #474341;
    }
</style>
{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center mt-5 mb-4">
    <h1 class="page-title">Manager Dashboard</h1>
</div>
<div class="">
    <h3>
        <i class="fa-solid fa-list text-warning"></i>
        Drivers Pending List
    </h3>     
</div> 
<div class="container-fluid d-flex flex-row align-items-center justify-content-center gap-5 mb-5">

    <table class="table table-hover align-middle">
        <thead class="section-title">
            <tr>
                <th>Driver Name</th>
                <th>ID card</th>
                <th>Gender</th>
                <th>Date of birth</th>
                <th>Nationality</th>
                <th>Phone</th>
                <th>Licenses</th>
                <th>Car Registration</th>
                <th class="text-center">Action</th> </tr>
        </thead>
        <tbody>
            {% for driver in drivers %}
            <tr>
                <td>{{ driver.user.username }}</td>
                <td>{{ driver.national_id_or_iqama }}</td>
                <td>{{ driver.gender }}</td>
                <td>{{ driver.date_of_birth }}</td>
                <td>{{ driver.nationality }}</td>
                <td>{{ driver.phone }}</td>
                <td>
                    {% if driver.licenses %}
                    <img src="{{ driver.licenses.url }}" alt="License">
                    {% endif %}
                </td>
                <td>
                    {% if driver.car_registration %}
                    <img src="{{ driver.car_registration.url }}" alt="Car Reg">
                    {% endif %}
                </td>
                <td>
                    <div class="d-flex gap-2 justify-content-center">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="driver_id" value="{{ driver.id }}">
                            <button type="submit" name="action" value="approve" class="btn btn-success btn-sm">Approve</button>
                        </form>

                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="driver_id" value="{{ driver.id }}">
                            <button type="submit" name="action" value="reject" class="btn btn-danger btn-sm">Reject</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="9" style="text-align: center; padding: 40px;">
                    <p class="text-muted">There are no drivers currently in the pending list.</p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
</div>
<!-- ترقيم الصفحات -->
<nav class="mt-3">
    <ul class="pagination pagination-sm justify-content-center">
        {% if drivers.has_previous %}
            <li class="page-item"><a class="page-link" href="?page_drivers={{ drivers.previous_page_number }}&page_trips={{ trips.number }}">Previous</a></li>
        {% endif %}
        
        <li class="page-item disabled"><span class="page-link">Page {{ drivers.number }} of {{ drivers.paginator.num_pages }}</span></li>

        {% if drivers.has_next %}
            <li class="page-item"><a class="page-link" href="?page_drivers={{ drivers.next_page_number }}&page_trips={{ trips.number }}">Next</a></li>
        {% endif %}
    </ul>
</nav>
<!-- إضافة حالة طلب الرحلات -->
 <div class="">
    <h3>
        <i class="fa-solid fa-list text-warning"></i>
        Trips Pending List
    </h3>     
</div> 
<div class="container-fluid d-flex flex-row align-items-center justify-content-center gap-5 mb-5">

    <table class="table table-hover align-middle">
        <thead class="section-title">
            <tr>
                <th>Driver Name</th>
                <th>City</th>
                <th>From</th>
                <th>To</th>
                <th>Days</th>
                <th>Date</th>
                <th>Time</th>
                <th>Available Seats</th>
                <th>Price</th>
                <th class="text-center">Action</th> </tr>
        </thead>
        <tbody>
            {% for trip in trips %}
            <tr>
                <td>{{ trip.driver.user.username }}</td>
                <td>{{ trip.city.name }}</td>
                <td>
                    {% for n in trip.start_neighborhood.all %}{{ n.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
                </td>
                <td>
                    {% for n in trip.end_neighborhood.all %}{{ n.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
                </td>
                <td>
                    {% for day in trip.days_of_week.all %}{{ day.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
                </td>
                <td>{{ trip.start_date }} – {{ trip.end_date }}</td>
                <td>{{ trip.start_time }} – {{ trip.end_time }}</td>
                <td>{{ trip.total_riders }}</td>
                <td>{{ trip.price }}</td>
                <td>
                    <div class="d-flex gap-2 justify-content-center">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="trip_id" value="{{ trip.id }}">
                            <button type="submit" name="action" value="approve" class="btn btn-success btn-sm">Approve</button>
                        </form>

                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="trip_id" value="{{ trip.id }}">
                            <button type="submit" name="action" value="reject" class="btn btn-danger btn-sm">Reject</button>
                        </form>
                    </div>
                </td> 
            </tr>
            {% empty %}
            <tr>
                <td colspan="10" style="text-align: center; padding: 40px;">
                    <p class="text-muted">There are no trips currently in the pending list.</p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
</div>
<nav class="mt-3">
    <ul class="pagination pagination-sm justify-content-center">
        {% if trips.has_previous %}
            <li class="page-item"><a class="page-link" href="?page_trips={{ trips.previous_page_number }}&page_drivers={{ drivers.number }}">Previous</a></li>
        {% endif %}
        
        <li class="page-item disabled"><span class="page-link">Page {{ trips.number }} of {{ trips.paginator.num_pages }}</span></li>

        {% if trips.has_next %}
            <li class="page-item"><a class="page-link" href="?page_trips={{ trips.next_page_number }}&page_drivers={{ drivers.number }}">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}