{# rider_request/component/comment_block.html #}

<!-- Comments -->
<div class="container-fluid px-2 px-sm-4 px-md-5">
  <div class="card custom-card p-4 mb-5 mx-auto" style="max-width: 1300px;">





      <h5 class="section-title">
        <i class="fa-solid fa-comments me-2"></i>
        Comments
      </h5>

      {#  Root Comment: السائق فقط يكتب #}
      {% if is_driver_user and request.user != rider_request.rider.user %}
<form method="POST"
      action="{% url 'rider_request:add_comment' rider_request.id %}"
      class="mb-4"
      onsubmit="return confirm('Editing comments is not allowed after submission.\nAre you sure you want to submit?');">

    {% csrf_token %}

    <textarea name="comment"
              required
              class="form-control mb-2"
              placeholder="Write your comment..."></textarea>

    <button type="submit" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-paper-plane me-1"></i> Send
    </button>
</form>


      {% endif %}

      {#  عرض كل المحادثات (Root comments) #}
      <div class="me-3">
        
      {% for comment in comments %}
      
        {% include "rider_request/component/comment_item.html" with node=comment rider_owner=rider_request.rider.user thread_driver=comment.user %}
      <hr>

        {% empty %}
        <p class="text-muted">No comments yet.</p>
      {% endfor %}
      
      </div>

    </div>
  </div>
</div>

